.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(226, 230, 173);
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    color:black;
}

h2, h3 {
    margin: 10px 0;
    color:chocolate;
}

button {
    width: 40px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}