* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.cta-button{
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

footer{
  background: black;
  text-align: center;
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
}